<div class="container p-5">
  <h1 style="text-decoration: underline; text-transform: uppercase">
    {{ title }}
  </h1>
  <div class="row">
    <form action="" [formGroup]="internationalForm" (ngSubmit)="submit()">
      <div class="card">
        <div class="card-body">
          <label for="">firstName</label>
          <input
            type="firstName"
            name="firstName"
            id=""
            placeholder="Please Enter Your firstName"
            i18n-placeholder
            formControlName="firstName"
            class="form-control mt-3"
          />
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <label for="">lastName</label>
          <input
            type="lastName"
            name="lastName"
            id=""
            placeholder="Please Enter Your lastName"
            i18n-placeholder
            formControlName="lastName"
            class="form-control mt-3"
          />
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <label for="">E-mail</label>
          <input
            type="email"
            name="email"
            id=""
            placeholder="Please Enter Your email"
            i18n-placeholder
            formControlName="email"
            class="form-control mt-3"
          />
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-3" i18n>
        Submit Form Data
      </button>
    </form>
  </div>
</div>
<!-- ng g s service --output-path --src/service
npm install xml2js --save -->

<hr />

<button type="button" class="btn btn-primary m-3" (click)="switchLanguage('ar')">ar-AE</button>
<button type="button" class="btn btn-primary m-3" (click)="switchLanguage('hi')">hi-IN</button>
